NODE_ENV=
PORT=3000

# Docker/Local PostgreSQL configuration
DB_USER=
DB_PASSWORD=
DB_NAME=

# For Docker networking, use the service name. For local NodeJS execution, use localhost
DB_HOST=localhost
DB_PORT=5432

# PostgreSQL root container variables
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
